Package: com.midnightchips.bettersettings
Name: BetterSettings
Depends: mobilesubstrate, com.laughingquoll.prefixui, com.muirey03.libimagepicker, com.creaturesurvive.libcscolorpicker, com.creaturecoding.libcspreferences, org.thebigboss.libcolorpicker
Version: 0.1.0
Architecture: iphoneos-arm
Description: Settings your way
Maintainer: midnightchips
Author: midnightchips
Section: Tweaks
SileoDepiction: https://midnightchips.me/sileo/bettersettings.json
Icon: https://midnightchips.me/packages/bettersettings/PM.png
Depiction: https://midnightchips.me/depiction/?bettersettings
