<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>MidnightChips © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPDeveloperCell</string>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>username</key>
				<string>CreatureSurvive</string>
				<key>provider</key>
				<string>1</string>
				<key>height</key>
				<string>81</string>
				<key>devName</key>
				<string></string>
				<key>devTitle</key>
				<string>CreatureSurvive</string>
				<key>devSubtitle</key>
				<string>Made prefs, Amazing Guidance</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPDeveloperCell</string>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>username</key>
				<string>Lucifers_Circle</string>
				<key>provider</key>
				<string>1</string>
				<key>height</key>
				<string>81</string>
				<key>devName</key>
				<string></string>
				<key>devTitle</key>
				<string>Lucifers Circle</string>
				<key>devSubtitle</key>
				<string>Hide icons, Clean Settings</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPDeveloperCell</string>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>username</key>
				<string>squ1dd13</string>
				<key>provider</key>
				<string>1</string>
				<key>height</key>
				<string>81</string>
				<key>devName</key>
				<string></string>
				<key>devTitle</key>
				<string>Squiddy</string>
				<key>devSubtitle</key>
				<string>Let me ask stupid questions</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPDeveloperCell</string>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>username</key>
				<string>Muirey03</string>
				<key>provider</key>
				<string>1</string>
				<key>height</key>
				<string>81</string>
				<key>devName</key>
				<string></string>
				<key>devTitle</key>
				<string>Muirey03</string>
				<key>devSubtitle</key>
				<string>Also helped me with my stupid questions</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPDeveloperCell</string>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>username</key>
				<string>_Easy_Z_</string>
				<key>provider</key>
				<string>1</string>
				<key>height</key>
				<string>81</string>
				<key>devName</key>
				<string></string>
				<key>devTitle</key>
				<string>Easy Z</string>
				<key>devSubtitle</key>
				<string>Fearless Beta Tester</string>
			</dict>
		</array>
		<key>title</key>
		<string>Special Thanks To:</string>
	</dict>
</plist>
